body {
  margin: 0;
  line-height: normal;
}

html, body {
  height: 100%;  /* Makes sure your page takes up the full height */
  width: 100%;   /* Ensures the page takes full width */
  margin: 0;     /* Removes default margin */
  padding: 0;    /* Removes default padding */
  overflow: hidden; /* Prevents scrollbars if you don't want any */
}


:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;

  /* Colors */
  --color-darkslateblue: #273992;
  --color-whitesmoke: #f8f8f8;
  --color-gray-100: #8b8b8b;
  --color-gray-200: #767676;
  --color-gray-300: rgba(0, 0, 0, 0.7);
  --color-tomato: #ff4646;
  --color-dodgerblue: #648fff;

  /* Gaps */
  --gap-lg: 18px;
  --gap-15xl-8: 34.8px;
  --gap-6xs: 7px;
  --gap-13xl-3: 32.3px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-12xs: 1px;
  --br-11xl: 30px;
}
